@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.background__body {
  background-color: #0a0a03;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
  width: 100vw;
  height: 100vh;
  font-family: "Press Start 2P", cursive; }

.start {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  width: 80vw;
  height: 150px; }
  .start h1 {
    opacity: 0;
    animation-duration: 3.5s;
    animation-name: aparecer;
    animation-iteration-count: 1;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    font-size: 80px;
    color: #ffc400; }
  .start span {
    opacity: 0;
    font-size: 20px;
    color: #fafafa;
    animation-duration: 0.5s;
    animation-name: aparecer;
    animation-delay: 3s;
    animation-fill-mode: forwards; }
    .start span span {
      font-size: 20px;
      color: #fafafa;
      animation-duration: 1.5s;
      animation-name: parpadeo;
      animation-iteration-count: infinite;
      animation-delay: 3.5s; }

.menu {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
  height: 70vh; }
  .menu h1 {
    font-size: 60px;
    color: #ffc400; }
  .menu ol {
    list-style: none;
    color: #fafafa;
    line-height: 3;
    text-align: center; }

.select::before {
  content: ">"; }

.select::after {
  content: "<"; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes parpadeo {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.main__singlePlayer {
  background-color: #0a0a03;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
  width: 100vw;
  height: 100vh;
  font-family: "Press Start 2P", cursive; }
  .main__singlePlayer h1 {
    color: #ffc400;
    font-weight: 300;
    font-size: 40px; }

.singlePlayer {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: space-around;
  width: 70vw;
  height: 500px; }
  .singlePlayer .map {
    width: 500px;
    height: 500px;
    display: flex;
    flex-flow: column nowrap;
    border: 1px solid #26ff00; }
    .singlePlayer .map div {
      height: 50px;
      display: flex;
      flex-flow: row nowrap; }
      .singlePlayer .map div div {
        width: 50px;
        border: 1px solid #26ff00; }
  .singlePlayer .map__Enemy {
    width: 500px;
    height: 500px;
    display: flex;
    flex-flow: column nowrap;
    border: 1px solid #26ff00; }
    .singlePlayer .map__Enemy div {
      height: 50px;
      display: flex;
      flex-flow: row nowrap; }
      .singlePlayer .map__Enemy div div {
        width: 50px;
        border: 1px solid #26ff00; }

.posicion {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center; }
  .posicion article {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center; }
    .posicion article label {
      color: #ffc400;
      font-weight: 300;
      font-size: 20px;
      margin: 10px; }
    .posicion article input {
      margin: 0 10px 0;
      width: 80px;
      height: 40px;
      font-size: 30px;
      text-align: center; }

.agua {
  background-color: lightblue; }

.dañado {
  background-color: yellow; }

.multiplayer {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center; }
  .multiplayer h1 {
    font-size: 50px;
    font-weight: 300;
    color: #ffc400; }
    .multiplayer h1 span {
      animation-duration: 1.5s;
      animation-name: parpadeo;
      animation-iteration-count: infinite;
      animation-delay: 0.5s; }

.main__options section {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center; }
  .main__options section label {
    font-size: 20px;
    font-weight: 300;
    color: #fafafa;
    margin: 10px;
    width: auto; }
  .main__options section input {
    text-align: center;
    font-size: 20px;
    height: 30px;
    width: 220px; }
